@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #f9fafb;
  /* bg-gray-50 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

/* --- Correção Manual para ngx-charts --- */

.ngx-charts {
  float: left;
  overflow: visible;
}

.ngx-charts .circle,
.ngx-charts .bar,
.ngx-charts .arc {
  cursor: pointer;
}

.ngx-charts .bar.active,
.ngx-charts .bar:hover,
.ngx-charts .cell.active,
.ngx-charts .cell:hover,
.ngx-charts .arc.active,
.ngx-charts .arc:hover,
.ngx-charts .card.active,
.ngx-charts .card:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}

.ngx-charts .bar:focus,
.ngx-charts .cell:focus,
.ngx-charts .arc:focus,
.ngx-charts .card:focus {
  outline: none;
}

.ngx-charts-tooltip-content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 8px 10px;
  text-align: center;
  pointer-events: none;
  z-index: 10000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ngx-charts-tooltip-content .label {
  display: block;
  font-size: 11px;
  color: #ccc;
  margin-bottom: 2px;
}

.ngx-charts-tooltip-content .value {
  display: block;
  font-weight: bold;
  font-size: 13px;
}